.emacs.d/elpa/
.emacs.d/javadoc-cache/
.emacs.d/snippets/
.emacs.d/url/
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/cider-repl-history
.emacs.d/history
.emacs.d/minibuffer-history
.emacs.d/network-security.data
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
